<tr id="category_<%= category.id %>">
  <td><%= category.code %></td>
  <td><%= category.name %></td>
  <td><%= category.description %></td>
  <td><%= localize_time category.created_at %></td>
  <td>
    <%= link_to t("page.admin.categories.link_edit"),
      edit_admin_category_path(category), class: "btn btn-success btn-xs" %>
  </td>
  <td>
    <%= link_to t("page.admin.categories.link_delete"), [:admin, category],
      method: :delete, data: {confirm: t("page.messages.notice")},
      class: "btn btn-danger btn-xs" %>
  </td>
</tr>
